@model IEnumerable<RpgMenager.Application.DtosAndFactories.Character.CharacterDto>

@{
    ViewData["Title"] = "Characters";
    bool PcActive = ViewBag.PcActive ?? true;
    bool NpcActive = ViewBag.NpcActive ?? true;
    string imagePath = Url.Content("~/images/1704811628_new_scale_1200.png");
    string imagePath2 = Url.Content(@"C:\Users\mikol\source\repos\RpgMenager\RpgMenager\wwwroot\images\438108199_6981518608615401_5176453103410536636_n.jpg");

}

<h1>Characters</h1>

<!-- Przyciski filtrujące -->
<div class="btn-group mb-3" role="group">
    <a asp-action="Index" asp-route-type="all" class="btn btn-secondary @(PcActive && NpcActive ? "active" : "")">All</a>
    <a asp-action="Index" asp-route-type="npc" class="btn btn-secondary @(!PcActive && NpcActive ? "active" : "")">NPC</a>
    <a asp-action="Index" asp-route-type="pc" class="btn btn-secondary @(PcActive && !NpcActive ? "active" : "")">PC</a>
</div>

<!-- Przycisk tworzenia nowej postaci -->
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<!-- Wyświetlanie postaci w formie kart -->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <!-- Display character image if available -->
            @if (!string.IsNullOrEmpty(item.PathToImage))
            {
                <img src="@imagePath" class="card-img-top" alt="@item.Name" style="height: 200px; object-fit: cover;">
            }

            
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Lastname</h6>
                <p class="card-text">@item.Description</p>
                <p class="card-text">HP: @item.Hp</p>
                <a class="btn btn-primary" asp-route-encodedName="@item.EncodedName" asp-route-id="@item.Id" asp-controller="Character" asp-action="Details">Details</a>
                <a class="btn btn-primary" asp-route-encodedName="@item.EncodedName" asp-route-id="@item.Id" asp-controller="Character" asp-action="Edit">Edit</a>
                <form asp-action="Delete" asp-controller="Character" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="type" value="@item.TypeOfCharacter" />
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć?');">Usuń</button>
                </form>
            </div>
        </div>
    }
    <img src="@imagePath2" class="card-img-top" alt="NIE DZIALA" style="height: 200px; object-fit: cover;">
</div>

