@using RpgMenager.Domain.Enums
@model IEnumerable<RpgMenager.Application.DtosAnd.Statistic.StatisticDto>

@{
    ViewData["Title"] = "Details";

    var group1 = Model.Where(item => item.statisticsEnum == StatisticsEnum.Character);
    var group2 = Model.Where(item => item.statisticsEnum == StatisticsEnum.Skill);
}

<h1>Details</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    <div class="col-md-6">
        <h2>Statistics EnumValue1</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Value)</th>
                    <th>@Html.DisplayNameFor(model => model.CharacterId)</th>
                    <th>@Html.DisplayNameFor(model => model.NameOfTheList)</th>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.EncodedName)</th>
                    <th>@Html.DisplayNameFor(model => model.PathToImage)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in group1)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Value)</td>
                        <td>@Html.DisplayFor(modelItem => item.CharacterId)</td>
                        <td>@Html.DisplayFor(modelItem => item.NameOfTheList)</td>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.EncodedName)</td>
                        <td>@Html.DisplayFor(modelItem => item.PathToImage)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h2>Statistics EnumValue2</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Value)</th>
                    <th>@Html.DisplayNameFor(model => model.CharacterId)</th>
                    <th>@Html.DisplayNameFor(model => model.NameOfTheList)</th>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.EncodedName)</th>
                    <th>@Html.DisplayNameFor(model => model.PathToImage)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in group2)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Value)</td>
                        <td>@Html.DisplayFor(modelItem => item.CharacterId)</td>
                        <td>@Html.DisplayFor(modelItem => item.NameOfTheList)</td>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.EncodedName)</td>
                        <td>@Html.DisplayFor(modelItem => item.PathToImage)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
