@model IEnumerable<RpgMenager.Mvc.Models.ListOfStatistic>

@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOfCharacter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOfCharacter)
                </td>
                <td>

                    <a asp-action="Details" asp-controller="Statistic" asp-route-encodedName="@item.Name.ToLower().Replace(" ", "-");" asp-route-id="@counter" class="btn btn-primary">Details</a>

                    @{counter++;}
                </td>
            </tr>
        }
    </tbody>
</table>
