@model RpgMenager.Application.DtosAnd.Player.PlayerDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlayerDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncodedName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncodedName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathToImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathToImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="Player" asp-route-encodedName="@Model.EncodedName" class="btn btn-primary">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
